/****************************************************************************************

	1. Browser Reset CSS
	2. Fonts CSS
	3. Frame Work CSS
	4. Navigation CSS
	5. Module CSS
	6. Submenu CSS
	7. Footer CSS
	8. Email Signup
	9. Theme CSS
	10.
	11.Local Mobile CSS
	12.Sticky Navigation CSS
	13.Mobile More Section CSS
	
****************************************************************************************/

/******** 1. Browser Reset CSS *********/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********* 2. Fonts CSS ***********/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:400,500,700');

h1, h2, h3, h4, h5, h6, p, a , li{
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	text-decoration: none !important;
	color: inherit;
}

h1 {
	font-family:'Roboto Slab', Arial, Helvetica, serif;
 	color:#ffffff;
	font-size:5em;
	text-align:center;
}
h2 {
	font-family:'Roboto Slab', Arial, Helvetica, serif;
 	color:#ffffff;
	font-size:1.25em;
	text-align:center;
}
h3 {
	font-family: 'Roboto Slab', Arial, Helvetica, serif;
	color: #646464;
	font-size: 1.8em;
	line-height: 1.9em;
	padding: 1em;
}
h4 {
    color: rgba(90,45,140,1);
    font-family: 'Roboto Slab', Arial, Helvetica, serif;
	font-size: 1.4em;
	font-weight: 400;
	
}
h4 span {
	font-size: 0.8em;
    vertical-align: middle;
}
p.job-time {
	font-size: 1.1em;
	float: right
}
p.job-title {
	font-size: 1.1em;
	float: left
}
/********* 3. Framework CSS **********/
.col-1 {
	width: 8.33333333%;
}
.col-2 {
	width: 16.66666667%;
}
.col-3 {
	width: 25%;
	float:left;
}
.col-4 {
	width: 33.333333333%;
}
.col-5 {
	width: 41.66666667%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.333333333%;
}
.col-8 {
	width: 66.66666667%;
}
.col-9 {
	width: 75%;
	float: right;
}
.col-10 {
	width: 83.333333333%;
}
.col-11 {
	width: 91.66666667%;
}
.col-12 {
	width: 100%;
}
.container.jc-content {
	padding-top: 100px;
}


/*********** 4. Navigation CSS *************/
.jc-nav ul li{
	display: inline;
	color: #ffffff;
	font-size: 1.3em;
	line-height: 1.4em;
	padding: 18px 5px;
}
.jc-nav ul li:hover {
	background-color: rgba(150, 150, 150, 0.5)
}
.jc-nav ul li a{
	padding: 20px 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.jc-nav ul {
	margin: 0 auto;
	padding: 15px;
	text-align: center;
}
.navbar.jc-nav {
	margin-bottom: 0px;
}
.navbar {
	position:fixed;
	width: 100%;
	background-color: rgba(40, 40, 40, 0.8);
	border-radius: 0px;
}






/****************************************/
/*********** Theme Styling **************/
/****************************************/

.purp-bkgd .intro {
	padding: 40vh 0px 5vh;
} 

.events li {
	display: inline;
	color: #ffffff;
}
.col-9 {
	margin: 40px auto;
}
.col-9 p.school-name {
	font-size:1.2em;
	font-weight: 600;
}
.col-9 p.school-descript {
	font-size: 1.15em;
	font-weight:300;
}
.col-9 ul {
	padding: 5px 20px;
}
section {
  height: 100vh;
}
/************ List Styling ************/
.jc-list-type {
	list-style: none; 
	margin-left: 0;
	padding-left: 0;
}
.jc-list-type li {
	padding-left: 0.5em;
	text-indent: -1em;
}
.jc-list-type li:before {
	content: "\00BB";
	padding-right: 5px;
}

/*********** Dark Background CSS *************/

.dark-tint-bkgd {
	background-color: rgba(10, 10, 10, 0.7);
}
.dark-tint-bkgd h3 {
	color:#f0f0f0;
}
.purp-bkgd {
	background-color: rgb(125, 70, 230);
	background-image: url('../imgs/manhattan.jpg');
}

/************ Light Background CSS ***********/
.low-tint-bkgd {
	background-color:rgba(10,10,10,0.3);
}

.med-tint-bkgd {
	background-color: rgb(232, 225, 232);
	width: 100%;
	margin: 0;
}

.banner {
	background-color: rgba(100,100,100,0.5);	
}
/************ Button CSS ************/
.button {
	border: solid #ffffff 1px;
	color: #ffffff;
	display: inline-block;
	position: relative;
	margin: 0px 10px;
	padding: 10px;
}
.button a {
	margin:auto;
	vertical-align: middle;
}
.button-group {
	text-align:center;
	padding: 2% 0 19%;
}
.button:hover {
	background-color: rgba(10,10,10,0.7);
	cursor: pointer;
	border-color: rgba(10, 10, 10, 0.7);
}






/*********** Links Styling *****************/
a:focus, a:hover {
	color: #ffffff;
}




/********** Timeline Styling ***************/


.cd-horizontal-timeline .events-content {
  position: relative;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  opacity: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, 
.cd-horizontal-timeline .events-content li.leave-right {
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, 
.cd-horizontal-timeline .events-content li.leave-left {
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, 
.cd-horizontal-timeline .events-content li.leave-left {
  animation-direction: reverse;
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


